@font-face {
  font-family: 'PingFang';
  src: url('./PingFang.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'KeepDisplay';
    src: url('./KeepDisplay-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium-12.ttf');
    font-weight: normal;
    font-style: normal;
  }